[%- # $Id: region.tt2 1540 2010-09-22 08:35:36Z rcf8 $ -%]
[%- qname='Browser_Region';
PROCESS "macros.tt2"; PROCESS "macros/search.tt2";
 s = search.$qname; q = s.Query;
 -%]
<style>
fieldset#options {
	height:3em;
}
</style>
[%- # Browser Region View tab template -%]
[%- uploads = c.session.upload_data.keys.size
-%]
	<script type="text/javascript">
		jQuery(document).ready(function() {
			updateRegionView("[%- q.gbrowse_url -%]");                                                
		});

	
</script>
    <div id="regionview_studies" style="display: block;" class="text">
	    <div class="greypanel" style="height:5.0em;">
<div class="block">
			This <a id="regionview_info_tag" title="[% tt.browser_region -%]" href="javascript:showHelp('region_view')">Region View<img src="/images/infolink.png" alt="info"/></a>
            shows marker significances for a genomic region or
            gene in selected studies.</div>
			[%- IF base_studies && base_studies.size>0 -%]
            [% IF region %]
<div class="block">
            <a href="/browser/rmarkers/[%- region -%]?r=[%- base_resultsets.join(',') -%]&amp;t=[% threshold %]"><img src="/images/goto.png" alt="goto"/>&nbsp;Show Marker Report for this region</a> 
            &nbsp;&nbsp;<a href="[%- render_link('search?q=' _ region _ '&amp;t=' _ threshold) -%]"><img src="/images/search.png" alt="search"/>&nbsp;Search for Marker data in this region</a><br/></div>
	[%- IF browser.is_high_resolution -%]<div><a href="[% c.w3c_uri_with(output='ucsc') %]" target="_blank"><img src="/images/upload.png" alt="upload">&nbsp;View this Region in UCSC Genome Browser</a> | <a href="[% c.w3c_uri_with(output='ensembl') %]" target="_blank"><img src="/images/upload.png" alt="upload">&nbsp;View this Region in ENSembl Genome Browser</a> | <a href="[% c.w3c_uri_with(output='bed') %]" target="_blank"><img src="/images/download.png" alt="download">&nbsp;Export this Region as BED</a>

			</div>[%- ELSE -%]<div>Zoom in further to view data in UCSC or ENSEMBL</div>[%- END -%]
			</div>
	[% ELSE %]
    <div class="block">Search a specific region across your selected studies, by entering a genomic region, gene or marker identifier in the text field below.</div>
    [% END %]
	[% ELSE -%]
	
<div class="block">Search for genomic regions, genes and other genomic features by entering a search term in the text field below.</div>
[%- IF !base_studies || base_studies.size==0 && !uploads -%]<div class="block">No association data displayed in Browser</div>[%- END -%]
</div>[%- END -%]
	</div>
	<form name="filterform" action="/browser/region" method="get">
	<div id="regionview_settings" class="text">
	    
		[%- render_filters('options') -%]
	
		[%- start_toggle_panel({ id = "rsettings_toggle", heading = "Additional options", tooltip = "settings"}) -%]
		
	    <div style="padding:0 0.5em 0 0.5em">
		</div>
	    <div id="rsettings_toggle" class="text" style="display: none;width:100%;clear:left;float:left"">
	    <div style="width:100%;clear:left;float:left;padding-bottom:1em">[%- render_filter('RegionTracks') -%]</div>

	    <div style="width:100%;clear:left;float:left;padding-bottom:1em">[%- render_filters('hapmap_pops') -%]</div>
		<div style="width:100%;clear:left;float:left;padding-bottom:1em">[%- render_filters('hapmap') -%]</div>
		[%- render_filters('extra_opts') -%]
	   	</div>
	   	[% end_toggle_panel('rsettings_toggle','track and HapMap options') -%]
	   
	    [%- render_filters('result_opts') -%]
		</form>
		
	    
	    <div style="display:block;" id="regionview_loader">
	        <center>
	            <img style='vertical-align: middle' src='[% site.urlpath %]/images/ajax-loader.gif' alt="loading"/>
	        </center>
	    </div>

	    <div id="regionview_display" style="height:0px">
	        <iframe style="width: 100%; height:0px" id="regionview" name="regionview" frameborder="0" scrolling="auto"></iframe>
	    </div>

</div>
</div>
