[% # $Id: index.tt2 285 2008-01-12 15:13:27Z mummi $ %]
[%- META title = "HGVbaseG2P - Change Password" %]
[%- META focus = "Home"       -%]
[%- PROCESS "macros.tt2" -%]
[%- render_page_heading('user','Change Password') -%]

<div class="reportpanel">
[% IF user_errors.size > 0 %]
<div class="error">[% user_errors.join("<br/>") %]</div>
[% END %]
[% IF c.req.params.postback && !user_errors %]
<div class="message">
Your password has now been changed.
</div>
</div>
[% RETURN; END %]


<div class="text">
<b>Please enter your old and new passwords below:</b>
<br/><br/>
<div class="text">
<form action="/user/changepassword" method="post">
<input type="hidden" value="1" name="postback"/>
<input type="hidden" value="[%- c.user.email -%]" name="email"/>
Old Password:<br/>
<input type="password" size="20" name="old_password" value="" /><br/><br/>
New Password:<br/>
<input type="password" size="20" name="password" value="" /><br/><br/>
Confirm New Password:<br/>
<input type="password" size="20" name="confirm_password" value="" /><br/><br/>

<input style="font-size: 0.9em" type="submit" id="login" value="Change Password"/>  
</form>
</div>
</div>
   