[% META focus = 'User' %]
<div><img src="/images/user.png" style="width:48px;height:48px"><span style="vertical-align:50%;font-size:1.5em;color:#0066dd;font-weight:bold">&nbsp;User Roles of '[% c.session.user.nickname %]'</span></div>
<div class="text">
<table class="info">
<tr><th>Name</th><th>Owner</th>
[% FOREACH role IN roles %]
<tr><td>[% role.name %]</td><td>[% role.owner %]</td></tr>
[% END %]
</table>
</div>