[%- # $Id: view.tt2 1560 2010-10-28 15:55:59Z rcf8 $ -%]
[%- # Sample panel report view s-%]

[%- META title = "HGVbaseG2P - Sample Panel Report" -%]
[%- META focus = "Study"              -%]

[%- PROCESS "macros.tt2" -%]
[%- USE Number.Format -%]

[% IF !spanel %]
  <p>Sample Panel $spanelid not found!</p>
  [% RETURN %]
[% END %]

[%- render_page_heading('studies','Sample Panel Report - ' _ spanel.name _ ' (' _ spanel.identifier _ ')') -%]

<div class="reportpage">

<div class="heading">Sample Panel summary</div>
<div class="table">
<table class="summary">
  <tr>
    <th>HGVbaseG2P identifier</th>
    <td>[%- spanel.identifier -%]</td>
  </tr>  
  <tr>
    <th>Sample Panel name</th>
    <td>[%- spanel.name -%]</td>
  </tr>
  [%- sspanels =  spanel.studysamplepanels -%]
  <tr>
  <th>Used in [%- IF sspanels>1 -%]Studies[%- ELSE -%]Study[%- END -%]</th>
  	<td>[%- FOREACH ssp IN sspanels -%]
  	[%- substudy = ssp.studyid -%]
  	<a href="/study/[%- substudy.identifier -%]">[%- substudy.identifier -%]</a><br/>
  	[%- END -%]
  	</td>
  	</tr>
    <tr>
      <th>No. individuals in panel</th>
      <td>[%- render_panel_indcounts(spanel) -%]</td>
    </tr>
  <tr>
    <th>Panel composition</th>
    <td>[%- spanel.composition || 'Not supplied' -%]
[%-IF spanel.composition == 'Trios' -%]
([%- spanel.numberofprobands -%] probands, [%- spanel.numberofparents -%] parents)
[%- END -%]</td>
  </tr>
  <tr>
    <th>Geographic region</th>
    <td>[%- spanel.geographicregioninfo || 'Not supplied' -%]</td>
  </tr>
  <tr>
    <th>Related Links</th>
    <td>[%- render_hlinks(spanel.hotlinks)  -%]</td>
  </tr>
  <tr>
    <th>Description</th>
    <td>
[%-  desc = spanel.description | strip_hrefs -%]
[%- IF desc.length > 400 -%]
<span>
[%- desc | truncate(400) %]
<a href="javascript:void(0);" onclick="this.parentNode.style.display = 'none';this.parentNode.nextSibling.style.display = 'inline'">read more &gt;&gt;</a>
</span><span style="display: none">
</span>
[%- ELSE -%]
[%- desc ||  'Not supplied (please refer to publication for details)' -%]

[%- END %]
    </td>
  </tr>
  [%- phenvalues = spanel.phenotypevalues -%]
  [%- pmethods = {} -%]
  [%- FOREACH phenvalue IN phenvalues -%]
[%- pmethod = phenvalue.phenotypemethodid.name -%]
[% pmethods.$pmethod = phenvalue.phenotypemethodid %]
   [%- END -%]
<tr>
<th>Phenotype Method</th>
<td>
	[% FOREACH pmethod IN pmethods.keys %]
	<div class="details_item"><a href="[%- site.urlpath -%]/phenotypemethod/[%- pmethods.$pmethod.identifier -%]">[%- pmethod -%]</a></div>
	[% END %]
	</td>
  </tr>
</table>
</div>

<div class="heading">Panel details</div>

<div class="table">

<table class="summary">
  <tr>
    <th>Mode of recruitment</th>
    <td>[%- spanel.modeofrecruitment  || 'Not supplied' -%]</td>
  </tr>
  <tr>
    <th>Diagnosis age range</th>
    <td>[%- spanel.diagnosisagerange  || 'Not supplied'-%]</td>
  </tr>
  <tr>
    <th>Diagnosis period</th>
    <td>[%- spanel.diagnosisperiod  || 'Not supplied' -%]</td>
  </tr>
  <tr>
    <th>Sampling age range</th>
    <td>[%- spanel.samplingagerange  || 'Not supplied' -%]</td>
  </tr>
  <tr>
    <th>Sampling period</th>
    <td>[%- spanel.samplingperiod  || 'Not supplied' -%]</td>
  </tr>
  <tr>
    <th>Population info</th>
    <td>[%- spanel.populationinfo  || 'Not supplied' -%]</td>
  </tr>
  <tr>
    <th>Ethnicity info</th>
    <td>[%- spanel.ethnicityinfo  || 'Not supplied' -%]</td>
  </tr>
  <tr>
    <th>Birthplace info</th>
    <td>[%- spanel.birthplaceinfo  || 'Not supplied' -%]</td>
  </tr>
  <tr>
    <th>Admixture info</th>
    <td>[%- spanel.admixtureinfo  || 'Not supplied' -%]</td>
  </tr>
  <tr>
    <th>Environment info</th>
    <td>[%- spanel.environmentinfo  || 'Not supplied' -%]</td>
  </tr>
  <tr>
    <th>Source DNA</th>
    <td><b>Pooling:</b> [%- spanel.dnasarepooled  || 'Not supplied' -%], <b>Whole-genome amplification:</b> [%- spanel.dnasarewga  || 'Not supplied' -%]</td>
  </tr>
</table>
</div>


</div> <!-- Report mainpanel ends -->
