[%- nowrappers= 2-%]
<html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://143.210.152.179:8000/js/jquery.pm.min.js" type="text/javascript"></script>
<script>
//top.document.location.hash = "#errrrrr";
jQuery(document).ready(function() {
	jQuery.postMessage(
	[%- json -%],
	"file:///Users/robf/Projects/GwasCentral/studies.html"
	);
});
</script>
</head>
</html>