<div>
<input class="search_button" type="button" value="[%- curr_filter.value -%]" title="[%- search_tooltip -%]" [%- IF curr_filter.onclick -%]onclick="[%- curr_filter.onclick -%]"[%- END -%]/>
</div>