.progressmeter {
    font-family: Arial;
    font-size: 8pt;
    text-align: center;
	display:inline;
	width:11.5em;
	color:white;
	float:right;
	background: transparent  no-repeat url(/images/small-ajax-loader.gif);
}

.progressmeter table {
	display:none;
}

.progressmeter th {
    font-weight: bold;
    text-align: right;
}

.progressmeter td {
    text-align: left;
}

.finished {
    color: #667799;
}

.aborted {
    color: red;
}

.progressmeter .meter {
    position: relative;
    background-color: lightgrey;
    border: 1px solid #667799;
    height: 14px;
    width: 95px;
	float:right;
	display:none;
}

.progressmeter .meter .amount {
    background-color: #0066dd;
    width: 0px;
    height: 14px
}

.progressmeter .meter .percent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10px;
    z-index: 1000;
    text-align: center;
    font-family: Arial;
    font-size: 8pt;
}
