/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
	.ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
        font-size:1.1em;
    }
}

/* Skin */
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 0.1em;
    font-size:1.2em;

}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    padding: 0 .8em 0em;
    background: url(/images/options/tab.png) no-repeat;
    font-size:1.2em;
}
.ui-tabs-nav a {
    position: relative;
    top: 1px;
    z-index: 2;
    padding-left: 0;
    color: #27537a;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
}
.ui-tabs-nav .ui-tabs-selected a {
    color: #000;
    font-weight:bold;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
    outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-top: 7px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-nav .ui-tabs-disabled {
    opacity: .4;
}
.ui-tabs-container {
    border-top: 1px solid #97a5b0;
    padding: 1em 8px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(/images/loading.gif) no-repeat 0 50%;
}




100 x 100
This browser is AJAX compatiblevbulletin_global.... (line 11)
Creating array vBulletin.elements["vB_Lightbox_Container"]vbulletin_global.... (line 11)
vBulletin.elements["vB_Lightbox_Container"][0] = posts, 1
vBmenu :: System Activated
Firing System Initvbulletin_global.... (line 11)
GET http://dev.jquery.com/view/trunk/ui/demos/functional/templates/ui.dialog.html (40ms)jquery-1.2.6.js (line 2806)
			
effects.drop.js
http://dev.jquery.com/view/trunk/ui/ui/effects.drop.js
	
dev.jquery.com
	
2 KB
	
 
_
effects.explode.js
http://dev.jquery.com/view/trunk/ui/ui/effects.explode.js
	
dev.jquery.com
	
3 KB
	
 
_
effects.fold.js
http://dev.jquery.com/view/trunk/ui/ui/effects.fold.js
	
dev.jquery.com
	
2 KB
	
 
_
effects.highlight.js
http://dev.jquery.com/view/trunk/ui/ui/effects.highlight.js
	
dev.jquery.com
	
2 KB
	
 
_
effects.pulsate.js
http://dev.jquery.com/view/trunk/ui/ui/effects.pulsate.js
	
dev.jquery.com
	
2 KB
	
 
_
effects.scale.js
http://dev.jquery.com/view/trunk/ui/ui/effects.scale.js
	
dev.jquery.com
	
8 KB
	
 
_
effects.shake.js
http://dev.jquery.com/view/trunk/ui/ui/effects.shake.js
	
dev.jquery.com
	
2 KB
	
 
_
effects.slide.js
http://dev.jquery.com/view/trunk/ui/ui/effects.slide.js
	
dev.jquery.com
	
2 KB
	
 
_
effects.transfer.js
http://dev.jquery.com/view/trunk/ui/ui/effects.transfer.js
	
dev.jquery.com
	
2 KB
	
 
_
behaviour.js
http://dev.jquery.com/view/trunk/ui/demos/functional/js/behaviour.js
	
dev.jquery.com
	
6 KB
	
 
_
behaviour.functionaldemos.js
http://dev.jquery.com/view/trunk/ui/demos/functional/js/behaviour.functionaldemos.js
	
dev.jquery.com
	
173 b
	
 
_
beautify.js
http://dev.jquery.com/view/trunk/ui/demos/functional/js/beautify.js
	
dev.jquery.com
	
17 KB
	
 
_
functional.demo.js
http://dev.jquery.com/view/trunk/ui/demos/functional/js/functional.demo.js
	
dev.jquery.com
	
5 KB
	
 
_
jquery.chili.pack.js
http://dev.jquery.com/view/trunk/ui/demos/functional/js/jquery.chili.pack.js
	
dev.jquery.com
	
6 KB
	
 
_
chili-recipes.js
http://dev.jquery.com/view/trunk/ui/demos/functional/js/chili-recipes.js
	
dev.jquery.com
	
20 KB
	
 
_
jquery.history_remote.js
http://dev.jquery.com/view/trunk/ui/demos/functional/js/jquery.history_remote.js
	
dev.jquery.com
	
15 KB
	
 
_
jquery.mousewheel.js (404)
http://dev.jquery.com/view/trunk/ui/demos/functional/js/jquery.mousewheel.js
	
dev.jquery.com
	
330 b
	
 
169ms
functional-demo-face.png
http://dev.jquery.com/view/trunk/ui/demos/functional/images/functional-demo-face.png
	
dev.jquery.com
	
44 KB
	
 
0ms
dock.png (404)
http://dev.jquery.com/view/trunk/ui/demos/functional/images/dock.png
	
dev.jquery.com
	
322 b
	
 
328ms
content_body_bg.png
http://dev.jquery.com/view/trunk/ui/demos/functional/images/content_body_bg.png
	
dev.jquery.com
	
3 KB
	
 
0ms
content_top_bg.png
http://dev.jquery.com/view/trunk/ui/demos/functional/images/content_top_bg.png
	
dev.jquery.com
	
163 b
	
 
0ms
dot.png
http://dev.jquery.com/view/trunk/ui/demos/functional/images/dot.png
	
dev.jquery.com
	
191 b
	
 
0ms
footer_bg.png
http://dev.jquery.com/view/trunk/ui/demos/functional/images/footer_bg.png
	
dev.jquery.com
	
827 b
	
 
0ms
icon_liferay.gif
http://dev.jquery.com/view/trunk/ui/demos/functional/images/icon_liferay.gif
	
dev.jquery.com
	
783 b
	
 
0ms
ajax-loader.gif
http://dev.jquery.com/view/trunk/ui/demos/functional/images/ajax-loader.gif
	
dev.jquery.com
	
4 KB
	
 
0ms
ui.dialog.html
http://dev.jquery.com/view/trunk/ui/demos/functional/templates/ui.dialog.html
	
dev.jquery.com
	
979 b
	
 
48ms
e6e6e6_40x100_textures_02_glass_75.png
http://dev.jquery.com/view/trunk/ui/themes/default/images/e6e6e6_40x100_textures_02_glass_75.png
	
dev.jquery.com
	
211 b
	
 
0ms
888888_11x11_icon_close.gif
http://dev.jquery.com/view/trunk/ui/themes/default/images/888888_11x11_icon_close.gif
	
dev.jquery.com
	
62 b
	
 
0ms
222222_11x11_icon_resize_se.gif
http://dev.jquery.com/view/trunk/ui/themes/default/images/222222_11x11_icon_resize_se.gif
	
dev.jquery.com
	
61 b
	
 
0ms
16 requests
		
87 KB
	
(0 b from cache)
106ms
.ui-accordion {
border-color:-moz-use-text-color -moz-use-text-color #D3D3D3;
border-style:none none solid;
border-width:0pt 0pt 1px;
font-family:Verdana,Arial,sans-serif;
font-size:100%;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:0pt;
text-decoration:none;
}
.ui-accordion-group {
border-color:#D3D3D3 rgb(211, 211, 211) -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px medium;
font-size:100%;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:0pt;
text-decoration:none;
}
.ui-accordion-header {
background:#E6E6E6 url(images/e6e6e6_40x100_textures_02_glass_75.png) repeat-x scroll 0pt 50%;
border:0pt none;
cursor:pointer;
font-size:100%;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:0pt;
text-decoration:none;
}
.ui-accordion-header a {
background:transparent url(images/888888_7x7_arrow_right.gif) no-repeat scroll 0.5em 50%;
border:0pt none;
color:#555555;
display:block;
font-size:1.1em;
font-weight:normal;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:0.5em 0.5em 0.5em 1.7em;
text-decoration:none;
}
.ui-accordion-header a:hover {
background:transparent no-repeat scroll 0.5em 50%;
color:#212121;
}
.ui-accordion-header:hover {
background:#DADADA repeat-x scroll 0pt 50%;
color:#212121;
}
.selected .ui-accordion-header, .selected .ui-accordion-header:hover {
background:#FFFFFF repeat-x scroll 0pt 50%;
}
.selected .ui-accordion-header a, .selected .ui-accordion-header a:hover {
background:transparent no-repeat scroll 0.5em 50%;
color:#222222;
}
.ui-accordion-content {
background:#FFFFFF none repeat scroll 0%;
color:#222222;
font-size:1.1em;
padding:1.5em 1.7em;
}
.ui-slider {
background:#FFFFFF none repeat scroll 0%;
border:1px solid #D3D3D3;
font-family:Verdana,Arial,sans-serif;
font-size:100%;
height:0.8em;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:0pt;
position:relative;
text-decoration:none;
}
.ui-slider-handle {
background:#FFFFFF repeat-x scroll 0pt 50%;
border:1px solid #DDDDDD;
font-size:100%;
height:1.2em;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:0pt;
position:absolute;
text-decoration:none;
top:-3px;
width:1.2em;
z-index:2;
}
.ui-slider-handle:hover {
background:#DADADA repeat-x scroll 0pt 50%;
border:1px solid #999999;
}
.ui-slider-handle-active, .ui-slider-handle-active:hover {
background:#DADADA repeat-x scroll 0pt 50%;
border:1px solid #DDDDDD;
}
.ui-slider-range {
background:#DADADA repeat-x scroll 0pt 50%;
border-color:#D3D3D3 -moz-use-text-color;
border-style:solid none;
border-width:1px 0pt;
font-size:100%;
height:0.8em;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:0pt;
position:absolute;
text-decoration:none;
top:-1px;
z-index:1;
}
.ui-dialog {
background:#FFFFFF none repeat scroll 0%;
border:4px solid #D3D3D3;
color:#222222;
font-family:Verdana,Arial,sans-serif;
font-size:100%;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:0pt;
position:relative;
text-decoration:none;
}
.ui-dialog-content {
background:#FFFFFF none repeat scroll 0%;
border:1px solid #D3D3D3;
color:#222222;
}
.ui-resizable-handle {
font-size:0.1px;
position:absolute;
z-index:99999;
}
.ui-resizable .ui-resizable-handle {
display:block;
}
body .ui-resizable-disabled .ui-resizable-handle {
display:none;
}
body .ui-resizable-autohide .ui-resizable-handle {
display:none;
}
.ui-resizable-n {
cursor:n-resize;
height:7px;
left:0px;
top:-5px;
width:100%;
}
.ui-resizable-s {
bottom:-5px;
cursor:s-resize;
height:7px;
left:0px;
width:100%;
}
.ui-resizable-e {
cursor:e-resize;
height:100%;
right:-5px;
top:0px;
width:7px;
}
.ui-resizable-w {
cursor:w-resize;
height:100%;
left:-5px;
top:0px;
width:7px;
}
.ui-resizable-se {
background:transparent no-repeat scroll 0pt;
bottom:0px;
cursor:se-resize;
height:13px;
right:0px;
width:13px;
}
.ui-resizable-sw {
bottom:0px;
cursor:sw-resize;
height:9px;
left:0px;
width:9px;
}
.ui-resizable-nw {
cursor:nw-resize;
height:9px;
left:0px;
top:0px;
width:9px;
}
.ui-resizable-ne {
cursor:ne-resize;
height:9px;
right:0px;
top:0px;
width:9px;
}
.ui-dialog-titlebar {
background:#d9eaff repeat-x scroll 0pt 50%;
border-color:-moz-use-text-color -moz-use-text-color #D3D3D3;
border-style:none none solid;
border-width:0pt 0pt 1px;
color:#555555;
font-size:1.1em;
font-weight:normal;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:0.5em 1.5em 0.5em 1em;
position:relative;
text-decoration:none;
}
.ui-dialog-title {
color:black;
}
.ui-dialog-titlebar-close {
background:transparent no-repeat scroll 0pt;
border:0pt none;
font-size:100%;
height:11px;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:0pt;
position:absolute;
right:8px;
text-decoration:none;
top:0.7em;
width:11px;
z-index:100;
}
.ui-dialog-titlebar-close-hover, .ui-dialog-titlebar-close:hover {
background:transparent no-repeat scroll 0pt;
}
.ui-dialog-titlebar-close:active {
background:transparent no-repeat scroll 0pt;
}
.ui-dialog-titlebar-close span {
display:none;
}
.ui-dialog-content {
background:#FFFFFF none repeat scroll 0%;
border:0pt none;
color:#222222;
font-size:100%;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:1.5em 1.7em;
text-decoration:none;
}
.ui-dialog-buttonpane {
border-top:1px solid #D3D3D3;
bottom:0pt;
position:absolute;
text-align:left;
width:100%;
background:#D9EAFF;
}
.ui-dialog-buttonpane button {
background:#E6E6E6 repeat-x scroll 0pt 50%;
border:1px solid #D3D3D3;
color:#222222;
cursor:pointer;
font-size:1.1em;
line-height:1.4em;
margin:0.5em 0pt 0.5em 8px;
padding:0.2em 0.3em 0.3em;
}
.ui-dialog-buttonpane button:hover {
background:#DADADA repeat-x scroll 0pt 50%;
border:1px solid #999999;
color:#212121;
}
.ui-dialog-buttonpane button:active {
background:#FFFFFF repeat-x scroll 0pt 50%;
border:1px solid #DDDDDD;
color:black;
}
.ui-dialog.ui-draggable .ui-dialog-titlebar, .ui-dialog.ui-draggable .ui-dialog-titlebar {
cursor:move;
}
.ui-datepicker-div, #ui-datepicker-div, .ui-datepicker-inline {
background:#FFFFFF none repeat scroll 0%;
border:4px solid #D3D3D3;
font-family:Verdana,Arial,sans-serif;
font-size:1.1em;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:2.5em 0.5em 0.5em;
position:relative;
text-decoration:none;
width:15.5em;
}
#ui-datepicker-div, .ui-datepicker-div {
background:#FFFFFF none repeat scroll 0%;
display:none;
z-index:9999;
}
.ui-datepicker-inline {
display:block;
float:left;
}
.ui-datepicker-control {
display:none;
}
.ui-datepicker-current {
display:none;
}
.ui-datepicker-next, .ui-datepicker-prev {
background:#E6E6E6 repeat-x scroll 0pt 50%;
left:0.5em;
position:absolute;
top:0.5em;
}
.ui-datepicker-next {
left:14.6em;
}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover {
background:#DADADA repeat-x scroll 0pt 50%;
}
.ui-datepicker-next a, .ui-datepicker-prev a {
background:transparent no-repeat scroll 50%;
border:1px solid #D3D3D3;
cursor:pointer;
display:block;
font-size:1em;
height:1.4em;
text-indent:-999999px;
width:1.3em;
}
.ui-datepicker-next a {
background:transparent no-repeat scroll 50%;
}
.ui-datepicker-prev a:hover {
background:transparent no-repeat scroll 50%;
}
.ui-datepicker-next a:hover {
background:transparent no-repeat scroll 50%;
}
.ui-datepicker-prev a:active {
background:transparent no-repeat scroll 50%;
}
.ui-datepicker-next a:active {
background:transparent no-repeat scroll 50%;
}
.ui-datepicker-header select {
background:#E6E6E6 none repeat scroll 0%;
border:1px solid #D3D3D3;
color:#555555;
font-size:1em;
line-height:1.4em;
margin:0pt !important;
position:absolute;
top:0.5em;
}
.ui-datepicker-header select.ui-datepicker-new-month {
left:2.2em;
width:7em;
}
.ui-datepicker-header select.ui-datepicker-new-year {
left:9.4em;
width:5em;
}
table.ui-datepicker {
text-align:right;
width:15.5em;
}
table.ui-datepicker td a {
background:#E6E6E6 repeat-x scroll 0pt 50%;
border:1px solid #FFFFFF;
color:#555555;
cursor:pointer;
display:block;
padding:0.1em 0.3em 0.1em 0pt;
}
table.ui-datepicker td a:hover {
background:#DADADA repeat-x scroll 0pt 50%;
border:1px solid #999999;
color:#212121;
}
table.ui-datepicker td a:active {
background:#FFFFFF  repeat-x scroll 0pt 50%;
border:1px solid #DDDDDD;
color:#222222;
}
table.ui-datepicker .ui-datepicker-title-row td {
color:#222222;
font-size:0.9em;
padding:0.3em 0pt;
text-align:center;
text-transform:uppercase;
}
table.ui-datepicker .ui-datepicker-title-row td a {
color:#222222;
}
.ui-colorpicker {
background:transparent repeat scroll 0%;
display:none;
font-family:Arial,Helvetica,sans-serif;
height:176px;
overflow:hidden;
position:absolute;
width:356px;
}
.ui-colorpicker-color {
background:#FF0000 none repeat scroll 0%;
cursor:crosshair;
height:150px;
left:14px;
overflow:hidden;
position:absolute;
top:13px;
width:150px;
}
.ui-colorpicker-color div {
background:transparent repeat scroll 0%;
height:150px;
left:0pt;
position:absolute;
top:0pt;
width:150px;
}
.ui-colorpicker-color div div {
background:transparent repeat scroll 0%;
height:11px;
left:0pt;
margin:-5px 0pt 0pt -5px;
overflow:hidden;
position:absolute;
top:0pt;
width:11px;
}
.ui-colorpicker-hue {
cursor:n-resize;
height:150px;
left:171px;
position:absolute;
top:13px;
width:35px;
}
.ui-colorpicker-hue div {
background:transparent repeat scroll left top;
height:9px;
left:0px;
margin:-4px 0pt 0pt;
overflow:hidden;
position:absolute;
width:35px;
}
.ui-colorpicker-new-color {
background:#FF0000 none repeat scroll 0%;
height:30px;
left:213px;
position:absolute;
top:13px;
width:60px;
}
.ui-colorpicker-current-color {
background:#FF0000 none repeat scroll 0%;
height:30px;
left:283px;
position:absolute;
top:13px;
width:60px;
}
.colorpicker input {
background-color:transparent;
border:1px solid transparent;
color:#898989;
font-family:Arial,Helvetica,sans-serif;
font-size:10px;
height:11px;
margin:0pt;
padding:0pt;
position:absolute;
right:11px;
text-align:right;
top:4px;
}
.ui-colorpicker-hex {
background:transparent repeat scroll center top;
height:22px;
left:212px;
position:absolute;
top:142px;
width:72px;
}
.ui-colorpicker input {
height:15px;
}
.ui-colorpicker-hex input {
margin-left:18px;
right:6px;
width:47px;
}
.ui-colorpicker-field {
background-position:center top;
height:22px;
position:absolute;
width:62px;
}
.ui-colorpicker-field label {
font-size:10px;
padding-left:17px;
}
.ui-colorpicker-field input {
width:25px;
}
.ui-colorpicker-field span {
cursor:n-resize;
height:22px;
overflow:hidden;
position:absolute;
right:0pt;
top:0pt;
width:12px;
}
.ui-colorpicker-rgb-r {
background-image:url(images/colorpicker_rgb_r.png);
left:212px;
top:52px;
}
.ui-colorpicker-rgb-g {
background-image:url(images/colorpicker_rgb_g.png);
left:212px;
top:82px;
}
.ui-colorpicker-rgb-b {
background-image:url(images/colorpicker_rgb_b.png);
left:212px;
top:112px;
}
.ui-colorpicker-hsb-h {
background-image:url(images/colorpicker_hsb_h.png);
left:282px;
top:52px;
}
.ui-colorpicker-hsb-s {
background-image:url(images/colorpicker_hsb_s.png);
left:282px;
top:82px;
}
.ui-colorpicker-hsb-b {
background-image:url(images/colorpicker_hsb_b.png);
left:282px;
top:112px;
}
.ui-colorpicker-submit {
left:296px;
overflow:hidden;
position:absolute;
top:144px;
}
.ui-colorpicker-focus {
background-position:center;
}
.ui-colorpicker-hex.ui-colorpicker-focus {
background-position:center bottom;
}
.ui-colorpicker-submit.ui-colorpicker-focus {
background-position:center bottom;
}
.ui-colorpicker-slider {
background-position:center bottom;
}
.ui-autocomplete-results {
background:#FFFFFF none repeat scroll 0%;
border:1px solid #D3D3D3;
color:#222222;
font-family:Verdana,Arial,sans-serif;
font-size:1.1em;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
overflow:hidden;
padding:0pt;
text-decoration:none;
z-index:99999;
}
.ui-autocomplete-results ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
padding:0pt;
width:100%;
}
.ui-autocomplete-results li {
background:#E6E6E6 urepeat-x scroll 0pt 50%;
border:1px solid #D3D3D3;
color:#555555 !important;
cursor:default;
display:block;
font-family:menu;
font-size:12px;
font-weight:normal;
line-height:16px;
margin:0px;
overflow:hidden;
padding:2px 5px;
}
.ui-autocomplete-loading {
background:white url(indicator.gif) no-repeat scroll right center;
}
.ui-autocomplete-results li.ui-autocomplete-over {
background:#DADADA repeat-x scroll 0pt 50%;
border:1px solid #999999;
color:#212121 !important;
font-weight:normal;
}
.ui-progressbar {
background:#E0E8F3 url(images/bg.gif) repeat-x scroll 0% 50%;
border:1px solid #CCCCCC;
height:20px;
position:relative;
width:400px;
}
.ui-progressbar-wrap {
height:auto;
line-height:18px;
position:relative;
width:auto;
}
.ui-progressbar-bar {
background:#9CBFEE url(images/progress-bg.gif) repeat-x scroll left center;
border-bottom:1px solid #7FA9E4;
border-right:1px solid #7FA9E4;
border-top:1px solid #D1E4FD;
position:absolute;
}
.ui-progressbar-text {
color:#FFFFFF;
font-size:11px;
font-weight:bold;
overflow:hidden;
padding-left:5px;
white-space:nowrap;
}
.ui-progressbar-text-back {
color:#000000;
padding-bottom:1px;
padding-right:1px;
padding-top:1px;
}
.ui-progressbar-disabled {
opacity:0.5;
}
.ui-progressbar-text.right-align {
padding:0pt 5px 0pt 0pt;
text-align:right;
}
.ui-progressbar-inner-custom {
background:transparent url(images/custom-bar.gif) repeat-x scroll left center;
border-bottom:1px solid #EFEFEF;
border-right:0pt none;
border-top:1px solid #BEBEBE;
height:15px;
}
.bold {
color:red !important;
}
.ui-hidden {
left:-10000px;
position:absolute;
top:-10000px;
visibility:hidden;
}
.ui-component {
border:0pt none;
font-family:Verdana,Arial,sans-serif;
font-size:1.1em;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:0pt;
text-decoration:none;
}
.ui-component-content {
background:#FFFFFF none repeat scroll 0%;
border:1px solid #D3D3D3;
color:#222222;
}
.ui-component-content a {
color:#222222;
text-decoration:underline;
}
.ui-default-state {
background:#E6E6E6 repeat-x scroll 0pt 50%;
border:1px solid #D3D3D3;
color:#555555 !important;
font-weight:normal;
}
.ui-default-state:active, .ui-active-state {
background:#FFFFFF repeat-x scroll 0pt 50%;
border:1px solid #DDDDDD;
color:#222222 !important;
font-weight:normal;
outline-color:invert;
outline-style:none;
outline-width:medium;
}
.ui-active-state a {
color:#222222;
outline-color:invert;
outline-style:none;
outline-width:medium;
}


.ui-hidden {
display:none;
}
.ui-accessible-hidden {
left:-1e+8px;
position:absolute;
}
.ui-reset {
border:0pt none;
font-size:100%;
line-height:1.3;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
outline-color:invert;
outline-style:none;
outline-width:0pt;
padding:0pt;
text-decoration:none;
}
.ui-clearfix:after {
clear:both;
content:".";
display:block;
height:0pt;
visibility:hidden;
}
.ui-clearfix {
}
* html .ui-clearfix {
height:1%;
}
.ui-clearfix {
display:block;
}

.ui-slider {
position:relative;
text-align:left;
}
.ui-slider-handle {
cursor:default;
height:1.2em;
position:absolute;
width:1.2em;
z-index:2;
}
.ui-slider-range {
border:0 none;
display:block;
font-size:1%;
position:absolute;
z-index:1;
}
.ui-slider-horizontal {
height:0.8em;
}
.ui-slider-horizontal .ui-slider-handle {
margin-left:-0.6em;
top:-0.3em;
}
.ui-slider-horizontal .ui-slider-range {
height:100%;
position:relative;
top:0;
}
.ui-slider-vertical {
height:100%;
width:0.8em;
}
.ui-slider-vertical .ui-slider-handle {
left:-0.3em;
margin-bottom:-0.6em;
margin-left:0;
}
.ui-slider-vertical .ui-slider-range {
height:auto;
left:0;
width:100%;
}
/* Note: for resizable styles, use the styles listed above in the dialog section */
#tooltip {
        position: absolute;
        z-index: 3000;
        border: 1px solid #111;
        background-color: #eee;
        padding: 0.3em;
        opacity: 0.85;
		font-size: 0.9em;

}
#tooltip h3, #tooltip div { margin: 0; font-weight:normal;		font-size:0.9em;}
#tooltip { width:400px }
