[% # $Id: index.tt2 285 2008-01-12 15:13:27Z mummi $ %]
[%- META title = "HGVbaseG2P - New User" %]
[%- META focus = "Home"       -%]
[%- PROCESS "macros.tt2" -%]
[%- render_page_heading('user','New User') -%]
<script>


</script>

<div class="reportpanel">
[% IF error %]
<div class="error">[% error %]</div>
[% END %]

<div class="text">
As you are a new user of HGVbaseG2P, we require that you enter a few details below. All fields are mandatory.
<br/><br/>
<form action="/user/register" method="post">
<input style="font-size: 0.9em;background-color:white" name="openid_identity" type="text" value="[% c.req.param('openid.identity') %]" />
<input name="postback" type="hidden" value="1"/>
    <table>
    <tr><td style="border:none;text-align:right;font-weight:bold">Nickname:</td><td style="border:none"><input style="font-size: 0.9em;background-color:white" name="nickname" type="text" size="20" value="[% c.user.nickname %]"/></td></tr>
    <tr><td style="border:none;text-align:right;font-weight:bold">First Name:</td><td style="border:none"><input style="font-size: 0.9em;background-color:white" name="first_name" type="text" size="20" value="[% first_name %]"/></td></tr>
    <tr><td style="border:none;text-align:right;font-weight:bold">Last Name:</td><td style="border:none"><input style="font-size: 0.9em;background-color:white" name="last_name" type="text" size="20" value="[% last_name %]"/></td></tr>
    <tr><td style="border:none;text-align:right;font-weight:bold">Institution:</td><td style="border:none"><input style="font-size: 0.9em;background-color:white" name="institution" type="text" size="20" value="[% institution %]"/></td></tr>
    <tr><td style="border:none;text-align:center" colspan="2" style="vertical-align:bottom"><br><input type="checkbox" name="accept_terms" id="accept_terms" onclick="toggleSubmit('accept_terms','login')">I accept the terms and conditions</td></tr>
    
    <tr><td style="border:none" colspan="2">
    <br>
    <center>
      <input style="font-size: 0.9em" type="submit" id="login" value="Log In" disabled="disabled" />  
    </center>
    </td>
  
    </tr>
    </table>
</form>
</div>
</div>
   