[%- qf_tooltip = 'search_phenotype_' _ q.fval('QueryFilter') -%]
<div class="heading">[%- q.heading -%]</div>
<table class="summary">
[%- render_summary_row({
    hits = curr_query.pager.total_entries,
    hits_text = curr_query.text,
    results_url = curr_query.url,
    form = 'phenoform',
    tooltip = tt.$qf_tooltip,
    no_results = curr_query.no_results,
    query = curr_query,
    }) 
-%]
</table>
